
@{
    ViewBag.Title = "Complain";
    Layout = "~/Views/Shared/LayoutUser.cshtml";

}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>HMS - contact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <!-- Load Require CSS -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font CSS -->
    <link href="~/Content/assets/css/boxicon.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link href="~/Content/assets/css/templatemo.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/assets/css/custom.css" rel="stylesheet" />
    <!--

    TemplateMo 561 Purple Buzz

    https://templatemo.com/tm-561-purple-buzz

    -->
</head>

<body>
    <!-- Header -->
     <!-- Close Header -->
    <!-- Start Contact -->
    <section class="container py-5">

        <h1 class="col-12 col-xl-8 h2 text-left text-primary pt-3">Complain Form</h1>
        <h2 class="col-12 col-xl-8 h4 text-left regular-400">Your Complain Here</h2>
        <p class="col-12 col-xl-8 text-left text-muted pb-5 light-300">
        </p>

        <div class="row pb-4">

            <!-- Start Contact Form -->
            <div class="col-lg-8 ">
                <form class="contact-form row" method="post" action="#" role="form">



                    <div class="col-12">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control form-control-lg light-300" id="floatingsubject"
                                   name="name" placeholder="Require">
                            <label for="floatingsubject light-300">Your Name</label>
                        </div>
                    </div><!-- End Input Email -->

                    <div class="col-12">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control form-control-lg light-300" id="floatingsubject"
                                   name="text" placeholder="Require">
                            <label for="floatingsubject light-300">Room No</label>
                        </div>
                    </div><!-- End Input Room No -->

                    <div class="col-12">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control form-control-lg light-300" id="floatingsubject"
                                   name="name" placeholder="Require">
                            <label for="floatingsubject light-300">Subject</label>
                        </div>
                    </div><!-- End Input Subject -->

                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <textarea class="form-control light-300" rows="8" placeholder="Message"
                                      id="floatingtextarea"></textarea>
                            <label for="floatingtextarea light-300">Message</label>
                        </div>
                    </div><!-- End Textarea Message -->

                    <div class="col-md-12 col-12 m-auto text-end">
                        <button type="submit" class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300">Submit Form</button>
                    </div>
                </form>
            </div>
            <!-- End Contact Form -->
        </div>
    </section>
    <!-- End Contact -->
    <!-- Start Footer -->
     
    <!-- End Footer -->
    <!-- Bootstrap -->
    <script src="~/Content/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Templatemo -->
    <script src="~/Content/assets/js/templatemo.js"></script>
    <!-- Custom -->
    <script src="~/Content/assets/js/custom.js"></script>

</body>

</html>

