
@{
    ViewBag.Title = "Rating";
    Layout = "~/Views/Shared/LayoutUser.cshtml";

}



<!DOCTYPE html>
<html lang="en">

<head>
    <title>HMS - contact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="~/Content/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="~/Content/image/x-icon" href="assets/img/favicon.ico">
    <!-- Load Require CSS -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font CSS -->
    <link href="~/Content/assets/css/boxicon.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link href="~/Content/assets/css/templatemo.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/assets/css/custom.css" rel="stylesheet" />


    <!--

    TemplateMo 561 Purple Buzz

    https://templatemo.com/tm-561-purple-buzz

    -->
</head>

<body>
    <!-- Header -->
    
    <!-- Close Header -->
    <!-- Start Banner Hero -->
    <section class="bg-light">
        <div class="container py-4">
            <div class="row align-items-center justify-content-between">
                <div class="contact-header col-lg-4">
                    <h1 class="h2 pb-3 text-primary">Hostel</h1>
                    <h3 class="h4 regular-400">Write Your Rating</h3>
                    <p class="light-300">
                        Write Your Rate 1 to 5 Star and
                        write Your  Review and submit It.
                    </p>
                </div>
                <div class="contact-img col-lg-5 align-items-end col-md-4">
                    <img src="~/Content/assets/img/15.jpg">
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Hero -->
    <!-- Start Contact -->
    <section class="container py-5">

        <div class="row pb-4">

            <!-- Start Contact Form -->
            <div class="col-lg-8 ">
                <div class="col-md-12 col-12 m-auto text-end">
                    <button type="submit" class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300"><a href="Rat.html">Rating</a></button>
                </div>
            </div>
            <!-- End Contact Form -->


        </div>
    </section>
    <!-- End Contact -->
   
    <!-- Bootstrap -->
    <script src="~/Content/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Templatemo -->
    <script src="~/Content/assets/js/templatemo.js"></script>
    <!-- Custom -->
    <script src="~/Content/assets/js/custom.js"></script>


</body>

</html>
