<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Food Menu</h2>
                </div>
                <div class="mainform">
                </div>

                <div class="container">
                    <div class="timetable-img text-center">
                        <img src="img/content/timetable.png" alt="">
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr class="bg-light-gray">
                                    <th class="text-uppercase">
                                        Si No
                                    </th>
                                    <th class="text-uppercase">
                                        Particulars
                                    </th>
                                    <th class="text-uppercase">
                                        Time
                                    </th>
                                    <th class="text-uppercase">Monday</th>
                                    <th class="text-uppercase">Tuesday</th>
                                    <th class="text-uppercase">Wednesday</th>
                                    <th class="text-uppercase">Thursday</th>
                                    <th class="text-uppercase">Friday</th>
                                    <th class="text-uppercase">Saturday</th>
                                    <th class="text-uppercase">Sunday</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle">1</td>
                                    <td class="align-middle">BREAKFAST</td>
                                    <td class="align-middle">07:00 AM to 09:00 Am</td>
                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            Tea/Coffee<br>Cornflaks with Milk<br>
                                            Bread with Butter/Jam<br>
                                            Bedami Puri With Sabji<br>
                                            Boiled Egg/ Omlete<br>
                                            Fresh Fruits: Banana
                                        </div>

                                    </td>
                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            Tea/Coffee<br>
                                            Cornflaks with Milk<br>
                                            Bread with Butter/Jam<br>
                                            Idli/Vada with Sambher<br>
                                            Boiled Egg/ Omlete<br>
                                            Fresh Fruits: Banana
                                        </div>

                                    </td>

                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            Tea/Coffee<br>
                                            Cornflaks with Milk<br>
                                            Bread with Butter/Jam<br>
                                            Stuff Veg Parantha with Curd<br>
                                            Boiled Egg/ Omlete<br>
                                            Fresh Fruits: Banana
                                        </div>

                                    </td>
                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            Tea/Coffee<br>
                                            Cornflaks with Milk<br>
                                            Bread with Butter/Jam<br>
                                            Puri With Aloo Chholey<br>
                                            Boiled Egg/ Omlete<br>
                                            Fresh Fruits: Banana
                                        </div>

                                    </td>
                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            Tea/Coffee<br>
                                            Cornflaks with Milk<br>
                                            Bread with Butter/Jam<br>
                                            Idli/Vada with Sambher<br>
                                            Boiled Egg/ Omlete<br>
                                            Fresh Fruits: Banana
                                        </div>

                                    </td>
                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            Tea/Coffee<br>
                                            Cornflaks with Milk<br>
                                            Bread with Butter/Jam<br>
                                            Stuff Veg Parantha with Curd<br>
                                            Boiled Egg/ Omlete<br>
                                            Fresh Fruits: Banana
                                        </div>




                                    </td>
                                    <td>
                                        <div class="margin-10px-top font-size14">
                                            Tea/Coffee<br>
                                            Cornflaks with Milk<br>
                                            Bread with Butter/Jam<br>
                                            Idli/Vada with Sambher<br>
                                            Boiled Egg/ Omlete<br>
                                            Fresh Fruits: Banana
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="align-middle">2</td>
                                    <td class="align-middle">LUNCH</td>
                                    <td class="align-middle">12:00PM to 02:00 PM</td>
                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            Seasonal Dry Veg<br>
                                            Karhi Special<br>
                                            Plain Rice<br>
                                            Tawa Roti<br>
                                            Salad/Achar
                                        </div>

                                    </td>

                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            Seasonal Dry Veg<br>
                                            Dal Tadka<br>
                                            Plain Rice<br>
                                            Tawa Roti<br>
                                            Salad/Achar
                                        </div>

                                    </td>

                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            Seasonal Dry Veg<br>
                                            Rajmah<br>
                                            Plain Rice<br>
                                            Tawa Roti<br>
                                            Salad/Achar
                                        </div>

                                    </td>

                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            Seasonal Dry Veg<br>
                                            Dal Tadka<br>
                                            Plain Rice<br>
                                            Tawa Roti<br>
                                            Salad/Achar
                                        </div>

                                    </td>

                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            Seasonal Dry Veg<br>
                                            Dal / Chholey<br>
                                            Plain Rice<br>
                                            Tawa Roti<br>
                                            Salad/Achar
                                        </div>

                                    </td>

                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            One Paneer Veg<br>
                                            Seasonal Dry Veg<br>
                                            Dal Tadka<br>
                                            Plain Rice<br>
                                            Tawa Roti<br>
                                            Salad/Achar
                                        </div>

                                    </td>

                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            Seasonal Dry Veg<br>
                                            Dal Makhni<br>
                                            Plain Rice<br>
                                            Tawa Roti<br>
                                            Salad/Achar
                                        </div>

                                    </td>


                                </tr>

                                <tr>
                                    <td class="align-middle">3</td>
                                    <td class="align-middle">DINNER</td>
                                    <td class="align-middle">08:00 PM to 10:00 PM</td>


                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            Seasonal Dry Veg<br>
                                            Dal Tadka<br>
                                            Plain Rice<br>
                                            Tawa Roti<br>
                                            Salad/Achar
                                        </div>

                                    </td>

                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            Seasonal Dry Veg<br>
                                            Dal Arhar<br>
                                            Plain Rice<br>
                                            Tawa Roti<br>
                                            Salad/Achar<br>
                                            Sweet: Spl Kheer/<br>
                                            Ice Cream
                                        </div>

                                    </td>
                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            Seasonal Dry Veg<br>
                                            Karhi Special<br>
                                            Plain Rice<br>
                                            Tawa Roti<br>
                                            Salad/Achar
                                        </div>

                                    </td>
                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            Seasonal Dry Veg<br>
                                            Rajmah<br>
                                            Plain Rice<br>
                                            Tawa Roti<br>
                                            Salad/Achar<br>
                                            Sweet: Halwa /<br>
                                            Ice Cream
                                        </div>

                                    </td>


                                    </td>
                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            Seasonal Dry Veg<br>
                                            Dal Tadka<br>
                                            Plain Rice<br>
                                            Tawa Roti<br>
                                            Salad/Achar
                                        </div>

                                    </td>

                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            Seasonal Dry Veg<br>
                                            Dal Makhni<br>
                                            Plain Rice<br>
                                            Tawa Roti<br>
                                            Salad/Achar<br>
                                            Sweet: Spl. Kheer/<br>
                                            Ice Cream
                                        </div>

                                    </td>

                                    <td>

                                        <div class="margin-10px-top font-size14">
                                            One Paneer Veg<br>
                                            Seasonal Dry Veg<br>
                                            Dal Tadka<br>
                                            Plain Rice<br>
                                            Tawa Roti<br>
                                            Salad/Achar
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
